* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Play";
  font-display: swap;
  src: url("../fonts/Play-Bold.woff") format("woff"), url("../fonts/Play-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Play";
  font-display: swap;
  src: url("../fonts/Play-Regular.woff") format("woff"), url("../fonts/Play-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html.light-theme {
  --color-general: #fff;
  --color-header-logo: #000;
  --color-bg: #f8fcfd;
  --color-header-title: #a8a8a8;
  --color-user-info: #a8a8a8;
  --color-user-btn: #bfbfbf;
  --color-side-game: #bfbfbf;
  --color-side-game-border: #f1f1f1;
  --color-side-game-btn: #188e8e;
  --color-main-info-title: #989898;
  --color-main-info-result: #bfbfbf;
  --color-main-game-title: #5e5e5e;
  --color-main-game-icon: #bfbfbf;
  --color-main-game-stat: #828282;
  --color-main-game-value: #4b4b4b;
  --color-footer-text: #bfbfbf;
  --color-footer-line: #464646;
  --color-footer-bg: #2c2c2c;
  --color-rgba: rgba(0, 0, 0, 0.02);
  --color-circle-value: #000;
  --color-kd-circle: #fbbc05;
  --color-ti-circle: #34a853;
  --color-ll-circle: #4285f4;
  --color-tl-circle: #ea4335;
  --steam-icon: url("../img/icons/steam-icon.svg");
  --blizzard-icon: url("../img/icons/blizzard-icon.svg");
  --csgo-icon: url("../img/icons/csgo-icon.svg");
  --dota-icon: url("../img/icons/dota-icon.svg");
  --overwatch-icon: url("../img/icons/overwatch-icon.svg");
}

html.dark-theme {
  --color-general: #001623;
  --color-header-logo: #bfbfbf;
  --color-bg: #041b28;
  --color-header-title: #a8a8a8;
  --color-user-info: #a8a8a8;
  --color-user-btn: #bfbfbf;
  --color-side-game: #bfbfbf;
  --color-side-game-border: #f1f1f1;
  --color-side-game-btn: #188e8e;
  --color-main-info-title: #989898;
  --color-main-info-result: #bfbfbf;
  --color-main-game-title: #5e5e5e;
  --color-main-game-icon: #7d7d7d;
  --color-footer-text: #7d7d7d;
  --color-footer-line: #464646;
  --color-footer-bg: #000f17;
  --color-main-game-stat: #a8a8a8;
  --color-main-game-value: #a8a8a8;
  --color-rgba: rgba(0, 0, 0, 0.04);
  --color-circle-value: #fff;
  --color-kd-circle: #fbbc05;
  --color-ti-circle: #34a853;
  --color-ll-circle: #4285f4;
  --color-tl-circle: #ea4335;
  --steam-icon: url("../img/icons/steam-dark-icon.svg");
  --blizzard-icon: url("../img/icons/blizzard-dark-icon.svg");
  --csgo-icon: url("../img/icons/csgo-dark-icon.svg");
  --dota-icon: url("../img/icons/dota-dark-icon.svg");
  --overwatch-icon: url("../img/icons/overwatch-dark-icon.svg");
}

.header {
  grid-area: header;
  background-color: var(--color-general);
  z-index: 3;
  width: 100%;
  height: 80px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--color-header-logo);
}

.header__container {
  padding: 0 25px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__info {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 10px;
}

.header__title {
  font-size: 14px;
  color: var(--color-header-title);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px 0 8px 6px;
  border-left: 1px solid var(--color-header-title);
}

.header__title-text + .header__title-text {
  margin-top: 5px;
}

.header__burger {
  display: none;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  margin-right: 6px;
}

.logo__text {
  font-size: 23px;
  color: inherit;
}

.main {
  grid-area: main;
}

.main__content {
  background-color: transparent;
  padding: 25px;
}

.main__info {
  height: 100%;
  padding: 15px;
  margin-bottom: 40px;
}

.main__info-title {
  font-size: 24px;
  color: var(--color-main-info-title);
  margin-bottom: 8px;
}

.main__info-result {
  font-size: 18px;
  color: var(--color-main-info-result);
  margin-bottom: 25px;
  display: block;
}

.main__game-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__game-button {
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__game-button_o.active {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main__game-button + .main__game-button {
  margin-left: 12px;
}

.main__game-button-icon path {
  fill: var(--color-main-game-icon);
}

.main__game-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__game-kf {
  font-size: 18px;
  color: var(--color-main-game-title);
}

.main__game-icon {
  width: 100px;
  height: 100%;
  margin-right: 50px;
}

.main__game-icon-img {
  width: 100%;
  height: 45px;
  background-repeat: no-repeat;
  background-position: center;
}

.main__game-icon-img_csgo {
  background-image: var(--csgo-icon);
  background-image: webkit-var(--csgo-icon);
}

.main__game-icon-img_dota {
  background-image: var(--dota-icon);
}

.main__game-icon-img_overwatch {
  background-image: var(--overwatch-icon);
}

.main__game + .main__game {
  margin-top: 40px;
}

.main-block {
  background-color: var(--color-rgba);
  border-radius: 8px;
}

.graph {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -5px;
}

.graph__ring {
  padding: 0 5px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: var(--color-circle-value);
}

.graph__ring-circle {
  position: relative;
  stroke-dasharray: 219.9114857512855 219.9114857512855;
}

.graph__ring-circle circle {
  stroke-dasharray: inherit;
  stroke-dashoffset: inherit;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-filter: drop-shadow(-3px 0 0.8px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(-3px 0 0.8px rgba(0, 0, 0, 0.25));
  stroke: inherit;
}

.graph__ring-value {
  font-size: inherit;
  color: var(--color-circle-value);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.graph__ring-desc {
  font-size: inherit;
  color: inherit;
  text-align: center;
}

.graph__ring_kd {
  stroke: var(--color-kd-circle);
  stroke-dashoffset: 76.96902001294993;
}

.graph__ring_ti {
  stroke: var(--color-ti-circle);
  stroke-dashoffset: 41.78318229274424;
}

.graph__ring_ll {
  stroke: var(--color-ll-circle);
  stroke-dashoffset: 160.5353845984384;
}

.graph__ring_tl {
  stroke: var(--color-tl-circle);
  stroke-dashoffset: 19.79203371761568;
}

.game {
  padding: 10px;
}

.game__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.game__body {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.game__body.active {
  margin-top: 24px;
}

.game__stat {
  font-size: 18px;
  color: var(--color-main-game-stat);
}

.game__stat + .game__stat {
  margin-top: 27px;
}

.game__stat-value {
  font-weight: 700;
  color: var(--color-main-game-value);
}

.side {
  grid-area: side;
  background-color: var(--color-general);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}

.side__content {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.side-btn {
  border: 1px solid var(--color-side-game-btn);
  border-radius: 20px;
  padding: 2px 0;
  background-color: transparent;
  font-size: 14px;
  color: var(--color-side-game-btn);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.side__user-games {
  margin-bottom: 20px;
}

.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
  color: var(--color-user-info);
}

.user-info__icon {
  border-radius: 50%;
  margin-bottom: 17px;
}

.user-info__item {
  color: inherit;
}

.user-info__item + .user-info__item {
  margin-top: 17px;
}

.user-info__item:last-of-type {
  margin-bottom: 60px;
}

.user-info__logout {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-info__logout-text {
  color: var(--color-user-btn);
  font-size: 14px;
  margin-right: 7px;
}

.user-info__logout-icon {
  line-height: 1;
}

.game-acc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 7px;
  border-top: 1px solid var(--color-side-game-border);
  color: var(--color-side-game);
}

.game-acc + .game-acc {
  margin-top: 11px;
}

.game-acc__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7px;
}

.game-acc__info_nl {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.game-acc__info_nl .game-acc__button {
  -ms-flex-item-align: center;
      align-self: center;
}

.game-acc__id {
  font-size: 14px;
  color: inherit;
}

.game-acc__icon {
  background-repeat: no-repeat;
  background-position: center left;
  height: 45px;
}

.game-acc__icon_steam {
  background-image: var(--steam-icon);
}

.game-acc__icon_blizzard {
  background-image: var(--blizzard-icon);
}

.game-acc__icon-container {
  height: 45px;
  margin-right: 17px;
  -ms-flex-preferred-size: 1px;
      flex-basis: 1px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.game-acc__button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 80px;
}

.share {
  margin-top: auto;
}

.share__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.share__item + .share__item {
  margin-top: 48px;
}

.share__btn {
  padding: 2px 12px;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6px;
  color: inherit;
  font-size: 14px;
}

.checkbox__true {
  display: none;
}

.checkbox__fake {
  width: 40px;
  height: 18px;
  border-radius: 20px;
  background-color: #4f4f4f;
  display: inline-block;
  margin-right: 4px;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.checkbox__fake:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: #c4c4c4;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.checkbox__true:checked + .checkbox__fake:before {
  left: 50%;
  background-color: #c4c4c4;
}

.checkbox__true:checked + .checkbox__fake {
  background-color: #188e8e;
}

.footer {
  grid-area: footer;
  background-color: var(--color-footer-bg);
  min-height: 200px;
  color: var(--color-footer-text);
}

.footer__top {
  padding: 32px 17px;
  border-bottom: 1px solid var(--color-footer-line);
}

.footer__bottom {
  padding: 20px 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px -5px;
}

.footer__bottom-links {
  padding: 10px 5px;
}

.footer__links-title {
  font-family: "Play", sans-serif;
  font-size: 16px;
  color: inherit;
  margin-bottom: 12px;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__link + .footer__link {
  margin-top: 20px;
}

.footer__text {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  color: inherit;
}

.footer__icon {
  margin-right: 5px;
}

html.light-theme {
  --color-main-block: #fff;
  --color-emoji: #498d8d;
  --color-title: #505050;
  --color-subtitle: #000;
  --color-btn-error: #188e8e;
}

html.dark-theme {
  --color-main-block: #001420;
  --color-emoji: #7d7d7d;
  --color-title: #006464;
  --color-subtitle: #787878;
  --color-btn-error: #188e8e;
}

.error-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.error-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 10px;
}

.error {
  background-color: var(--color-main-block);
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.11);
          box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.11);
  border-radius: 10px;
  max-width: 577px;
  min-height: 358px;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error__emoji {
  font-size: 48px;
  color: var(--color-emoji);
  margin-bottom: 25px;
}

.error__title {
  font-size: 72px;
  font-weight: 700;
  color: var(--color-title);
  margin-bottom: 44px;
}

.error__desc {
  font-size: 14px;
  margin-bottom: 27px;
  color: var(--color-subtitle);
}

.error__btn {
  padding: 10px 40px;
  font-size: 24px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--color-btn-error);
  border-radius: 16px;
  max-width: 257px;
  width: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-btn {
  border: 1px solid #188E8E;
  border-radius: 16px;
  font-size: 14px;
  color: #188E8E;
  background-color: transparent;
}

.header-home {
  background-color: #001623;
  z-index: 3;
  width: 100%;
  height: 80px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header-home__container {
  padding: 0 25px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.header-home__info {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-home__logo {
  margin-right: 10px;
}

.header-home__title {
  font-size: 14px;
  color: #A8A8A8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px 0 8px 6px;
  border-left: 1px solid #A8A8A8;
}

.header-home__title-text + .header-home__title-text {
  margin-top: 5px;
}

.header-home__btn {
  padding: 8px 38px;
}

.header-home__btn-icon {
  display: none;
}

.logo-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-home__img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  margin-right: 6px;
}

.logo-home__text {
  font-size: 23px;
  color: #bfbfbf;
}

.main-home {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  position: relative;
}

.main-home__src {
  padding: 8px;
  position: absolute;
  bottom: 34px;
  right: 47px;
}

.about {
  background-color: rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  margin: auto;
  padding-top: 16px;
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom: 16px;
}

.about__title {
  text-align: center;
  font-size: 36px;
  color: #BFBFBF;
  margin-bottom: 64px;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.about__column {
  padding: 0 15px;
  margin-bottom: 40px;
}

.about__item {
  position: relative;
}

.about__item-title {
  background-color: #63B2FB;
  border-radius: 15px;
  color: #fff;
  width: 210px;
  font-size: 18px;
  position: absolute;
  top: -12px;
  left: -17px;
  text-align: center;
  padding: 4px 4px;
  word-wrap: break-word;
}

.about__item-body {
  background-color: rgba(255, 255, 255, 0.04);
  border: 1px solid #63B2FB;
  border-radius: 10px;
  padding: 37px 27px;
  min-height: 260px;
  max-width: 247px;
}

.about__item-text {
  font-size: 18px;
  color: #BFBFBF;
}

a {
  color: inherit;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  font-family: "Play", sans-serif;
  background-color: var(--color-bg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  display: grid;
  grid-template-columns: minmax(auto, 240px) 1fr minmax(auto, 1040px) 1fr;
  grid-template-rows: minmax(auto, 80px) 1fr minmax(10px, auto);
  grid-template-areas: "header header header header" " side . main ." "footer footer footer footer";
  min-height: 100vh;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: transparent;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.overlay.active {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 1280px) {
  .main-home__src {
    bottom: calc(23px + 11 * ((100vw - 320px) / 960));
  }

  .main-home__src {
    right: calc(28px + 19 * ((100vw - 320px) / 960));
  }

  .about {
    padding-left: calc(16px + 20 * ((100vw - 320px) / 960));
  }

  .about {
    padding-right: calc(16px + 20 * ((100vw - 320px) / 960));
  }

  .about__title {
    font-size: calc(20px + 16 * ((100vw - 320px) / 960));
  }

  .about__item-body {
    min-height: calc(150px + 110 * ((100vw - 320px) / 960));
  }
}

@media (max-width: 768px) {
  .header {
    position: fixed;
    top: 0;
  }

  .header__burger {
    display: block;
    z-index: 5;
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .header__burger:before,
  .header__burger:after,
  .header__burger span {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    background-color: var(--color-header-logo);
    -webkit-transition: top 0.3s, -webkit-transform 0.3s;
    transition: top 0.3s, -webkit-transform 0.3s;
    -o-transition: transform 0.3s, top 0.3s;
    transition: transform 0.3s, top 0.3s;
    transition: transform 0.3s, top 0.3s, -webkit-transform 0.3s;
  }

  .header__burger:before,
  .header__burger:after {
    content: "";
    -webkit-transform: rotate(0) translateY(0);
        -ms-transform: rotate(0) translateY(0);
            transform: rotate(0) translateY(0);
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger span {
    top: 50%;
    -webkit-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
            transform: translateY(-50%) scale(1);
  }

  .header__burger.active span {
    -webkit-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
            transform: translateY(-50%) scale(0);
  }

  .header__burger.active:after {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(45deg);
        -ms-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
  }

  .header__burger.active:before {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
  }

  .side {
    position: fixed;
    top: 80px;
    bottom: 0;
    right: -100%;
    width: 260px;
    -webkit-transition: right 0.3s;
    -o-transition: right 0.3s;
    transition: right 0.3s;
    z-index: 2;
    overflow: auto;
  }

  .side.active {
    right: 0;
  }

  .error-wrapper {
    padding-top: 80px;
  }

  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 80px;
  }
}

@media (max-width: 440px) {
  .header-home__btn {
    font-size: 0;
    padding: 0;
    border: none;
  }

  .header-home__btn-icon {
    display: block;
  }
}

@media (max-width: 434px) {
  .main__game-kf {
    display: none;
  }

  .footer__bottom {
    display: block;
    padding: 0 17px;
  }

  .footer__bottom-links {
    padding-top: 24px;
    border-top: 1px solid var(--color-footer-line);
    margin-bottom: 14px;
  }

  .footer__top {
    border-bottom: none;
  }
}

.webp .main-home { background-image: url(../img/background.webp); }