* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Play";
  font-display: swap;
  src: url("../fonts/Play-Bold.woff") format("woff"), url("../fonts/Play-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Play";
  font-display: swap;
  src: url("../fonts/Play-Regular.woff") format("woff"), url("../fonts/Play-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.header {
  grid-area: header;
  background-color: #fff;
  z-index: 3;
  width: 100%;
  height: 80px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header__container {
  padding: 0 25px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__info {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 10px;
}

.header__title {
  font-size: 14px;
  color: #A8A8A8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px 0 8px 6px;
  border-left: 1px solid #A8A8A8;
}

.header__title-text + .header__title-text {
  margin-top: 5px;
}

.header__burger {
  display: none;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  margin-right: 6px;
}

.logo__text {
  font-size: 23px;
  color: #000;
}

.main {
  grid-area: main;
}

.main__content {
  background-color: transparent;
  padding: 25px;
}

.main__info {
  height: 100%;
  padding: 15px;
  margin-bottom: 40px;
}

.main__info-title {
  font-size: 24px;
  color: #989898;
  margin-bottom: 8px;
}

.main__info-result {
  font-size: 18px;
  color: #BFBFBF;
  margin-bottom: 10px;
  display: block;
}

.main__game {
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 8px;
}

.main__game-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__game-button {
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__game-button_o.active {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main__game-button + .main__game-button {
  margin-left: 12px;
}

.main__game-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__game-kf {
  font-size: 18px;
  color: #5E5E5E;
}

.main__game-icon {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 50px;
}

.main__game + .main__game {
  margin-top: 40px;
}

.graph {
  max-width: 700px;
  height: 230px;
  position: relative;
  border-bottom: 2px solid #7F7E7C;
  border-left: 2px solid #7F7E7C;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 10px 10px 10px;
  margin-bottom: 10px;
}

.graph__arrow {
  position: absolute;
}

.graph__arrow:after,
.graph__arrow:before {
  content: "";
  display: block;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  width: 6px;
  height: 1px;
  background-color: #7F7E7C;
  position: absolute;
  top: 50%;
  left: 50%;
}

.graph__arrow:after {
  -webkit-transform: translate(-20%, -50%) rotate(45deg);
      -ms-transform: translate(-20%, -50%) rotate(45deg);
          transform: translate(-20%, -50%) rotate(45deg);
}

.graph__arrow:before {
  -webkit-transform: translate(-80%, -50%) rotate(-45deg);
      -ms-transform: translate(-80%, -50%) rotate(-45deg);
          transform: translate(-80%, -50%) rotate(-45deg);
}

.graph__arrow_up {
  top: 1px;
  left: -1px;
}

.graph__arrow_right {
  bottom: -1px;
  right: 1px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.graph__block {
  height: 30px;
}

.graph__block_g {
  background-color: #99BC8A;
}

.graph__block_b {
  background-color: #95A8B9;
}

.graph__block_r {
  background-color: #AF8689;
}

.graph__block_y {
  background-color: #C9C59A;
}

.graph__legend {
  display: none;
}

.graph__legend-item {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.graph__legend-item + .graph__legend-item {
  margin-top: 9px;
}

.graph__legend-item:before {
  content: "";
  width: 18px;
  height: 18px;
  margin-right: 10px;
  display: block;
}

.graph__legend-item_g {
  color: #99BC8A;
}

.graph__legend-item_g:before {
  background-color: #99BC8A;
}

.graph__legend-item_b {
  color: #95A8B9;
}

.graph__legend-item_b:before {
  background-color: #95A8B9;
}

.graph__legend-item_r {
  color: #AF8689;
}

.graph__legend-item_r:before {
  background-color: #AF8689;
}

.graph__legend-item_y {
  color: #C9C59A;
}

.graph__legend-item_y:before {
  background-color: #C9C59A;
}

.game {
  padding: 10px;
}

.game__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.game__body {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.game__body.active {
  margin-top: 24px;
}

.game__stat {
  font-size: 18px;
  color: #828282;
}

.game__stat + .game__stat {
  margin-top: 27px;
}

.game__stat-value {
  font-weight: 700;
  color: #4b4444;
}

.side {
  grid-area: side;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}

.side__content {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.side-btn {
  border: 1px solid #188E8E;
  border-radius: 20px;
  padding: 2px 0;
  background-color: transparent;
  font-size: 14px;
  color: #188E8E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.side__user-games {
  margin-bottom: 20px;
}

.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}

.user-info__icon {
  border-radius: 50%;
  margin-bottom: 17px;
}

.user-info__item {
  color: #A3A3A3;
}

.user-info__item + .user-info__item {
  margin-top: 17px;
}

.user-info__item:last-of-type {
  margin-bottom: 90px;
}

.user-info__logout {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-info__logout-text {
  color: #BFBFBF;
  font-size: 14px;
  margin-right: 7px;
}

.user-info__logout-icon {
  line-height: 1;
}

.game-acc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 7px;
  border-top: 1px solid #F1F1F1;
}

.game-acc + .game-acc {
  margin-top: 11px;
}

.game-acc__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7px;
}

.game-acc__info_nl {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.game-acc__info_nl .game-acc__button {
  -ms-flex-item-align: center;
      align-self: center;
}

.game-acc__id {
  font-size: 14px;
  color: #BFBFBF;
}

.game-acc__icon-container {
  margin-right: 17px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game-acc__button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 80px;
}

.share {
  margin-top: auto;
}

.share__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.share__item + .share__item {
  margin-top: 48px;
}

.share__btn {
  padding: 2px 12px;
}

.footer {
  grid-area: footer;
  background-color: #2C2C2C;
  min-height: 200px;
}

.footer__top {
  padding: 32px 17px;
  border-bottom: 1px solid #464646;
}

.footer__bottom {
  padding: 20px 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px -5px;
}

.footer__bottom-links {
  padding: 10px 5px;
}

.footer__links-title {
  font-family: 'Play', sans-serif;
  font-size: 16px;
  color: #BFBFBF;
  margin-bottom: 12px;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__link + .footer__link {
  margin-top: 20px;
}

.footer__text {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  color: #BFBFBF;
}

.footer__icon {
  margin-right: 5px;
}

.error-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.error-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 10px;
}

.error {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.11);
          box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.11);
  border-radius: 10px;
  max-width: 577px;
  min-height: 358px;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error__emoji {
  font-size: 48px;
  color: #498D8D;
  margin-bottom: 25px;
}

.error__title {
  font-size: 72px;
  font-weight: 700;
  color: #505050;
  margin-bottom: 44px;
}

.error__desc {
  font-size: 14px;
  margin-bottom: 27px;
}

.error__btn {
  padding: 10px 40px;
  font-size: 24px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #188E8E;
  border-radius: 16px;
  max-width: 257px;
  width: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-btn {
  border: 1px solid #188E8E;
  border-radius: 16px;
  font-size: 14px;
  color: #188E8E;
  background-color: transparent;
}

.header-home {
  background-color: #001623;
  z-index: 3;
  width: 100%;
  height: 80px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header-home__container {
  padding: 0 25px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.header-home__info {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-home__logo {
  margin-right: 10px;
}

.header-home__title {
  font-size: 14px;
  color: #A8A8A8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px 0 8px 6px;
  border-left: 1px solid #A8A8A8;
}

.header-home__title-text + .header-home__title-text {
  margin-top: 5px;
}

.header-home__btn {
  padding: 8px 38px;
}

.header-home__btn-icon {
  display: none;
}

.logo-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-home__img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  margin-right: 6px;
}

.logo-home__text {
  font-size: 23px;
  color: #bfbfbf;
}

.main-home {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  position: relative;
}

.main-home__src {
  padding: 8px;
  position: absolute;
  bottom: 34px;
  right: 47px;
}

.about {
  background-color: rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  margin: auto;
  padding-top: 16px;
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom: 16px;
}

.about__title {
  text-align: center;
  font-size: 36px;
  color: #BFBFBF;
  margin-bottom: 64px;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.about__column {
  padding: 0 15px;
  margin-bottom: 40px;
}

.about__item {
  position: relative;
}

.about__item-title {
  background-color: #63B2FB;
  border-radius: 15px;
  color: #fff;
  width: 210px;
  font-size: 18px;
  position: absolute;
  top: -12px;
  left: -17px;
  text-align: center;
  padding: 4px 4px;
  word-wrap: break-word;
}

.about__item-body {
  background-color: rgba(255, 255, 255, 0.04);
  border: 1px solid #63B2FB;
  border-radius: 10px;
  padding: 37px 27px;
  min-height: 260px;
  max-width: 247px;
}

.about__item-text {
  font-size: 18px;
  color: #BFBFBF;
}

a {
  color: inherit;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  font-family: 'Play', sans-serif;
  background-color: #F8FCFD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  display: grid;
  grid-template-columns: minmax(auto, 240px) 1fr minmax(auto, 1040px) 1fr;
  grid-template-rows: minmax(auto, 80px) 1fr minmax(10px, auto);
  grid-template-areas: 'header header header header' ' side . main .' 'footer footer footer footer';
  min-height: 100vh;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: transparent;
  visibility: hidden;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.overlay.active {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.2);
}

.progress-ring {
  width: 120px;
  height: 120px;
  position: relative;
}

.progress-ring__circle {
  stroke-dasharray: 251.32741228718345 251.32741228718345;
  stroke-dashoffset: 87.9645943005142;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.progress-ring__num {
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 1280px) {
  .graph {
    height: calc(190px + 40 * ((100vw - 320px) / 960));
  }

  .main-home__src {
    bottom: calc(23px + 11 * ((100vw - 320px) / 960));
  }

  .main-home__src {
    right: calc(28px + 19 * ((100vw - 320px) / 960));
  }

  .about {
    padding-left: calc(16px + 20 * ((100vw - 320px) / 960));
  }

  .about {
    padding-right: calc(16px + 20 * ((100vw - 320px) / 960));
  }

  .about__title {
    font-size: calc(20px + 16 * ((100vw - 320px) / 960));
  }

  .about__item-body {
    min-height: calc(150px + 110 * ((100vw - 320px) / 960));
  }
}

@media (max-width: 768px) {
  .header {
    position: fixed;
    top: 0;
  }

  .header__burger {
    display: block;
    z-index: 5;
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .header__burger:before,
  .header__burger:after,
  .header__burger span {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    background-color: #000000;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    -webkit-transform: rotate(0) translateY(0);
        -ms-transform: rotate(0) translateY(0);
            transform: rotate(0) translateY(0);
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger span {
    top: 50%;
    -webkit-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
            transform: translateY(-50%) scale(1);
  }

  .header__burger.active span {
    -webkit-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
            transform: translateY(-50%) scale(0);
  }

  .header__burger.active:after {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(45deg);
        -ms-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
  }

  .header__burger.active:before {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
  }

  .side {
    position: fixed;
    top: 80px;
    bottom: 0;
    right: -100%;
    width: 260px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    z-index: 2;
    overflow: auto;
  }

  .side.active {
    right: 0;
  }

  .error-wrapper {
    padding-top: 80px;
  }

  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 80px;
  }
}

@media (max-width: 440px) {
  .header-home__btn {
    font-size: 0;
    padding: 0;
    border: none;
  }

  .header-home__btn-icon {
    display: block;
  }
}

@media (max-width: 434px) {
  .main__game-kf {
    display: none;
  }

  .footer__bottom {
    display: block;
    padding: 0 17px;
  }

  .footer__bottom-links {
    padding-top: 24px;
    border-top: 1px solid #464646;
    margin-bottom: 14px;
  }

  .footer__top {
    border-bottom: none;
  }
}

.webp .main-home { background-image: url(../img/background.webp); }