@font-face {
  font-family: "Play";
  font-display: swap;
  src: url("../fonts/Play-Bold.woff") format("woff"), url("../fonts/Play-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Play";
  font-display: swap;
  src: url("../fonts/Play-Regular.woff") format("woff"), url("../fonts/Play-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Play", sans-serif;
}

.home-btn {
  border: 1px solid #188e8e;
  border-radius: 16px;
  font-size: 14px;
  color: #188e8e;
  background-color: transparent;
}

.header-home {
  background-color: #001623;
  z-index: 3;
  width: 100%;
  height: 80px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header-home__container {
  padding: 0 25px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.header-home__info {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-home__logo {
  margin-right: 10px;
}

.header-home__title {
  font-size: 14px;
  color: #a8a8a8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px 0 8px 6px;
  border-left: 1px solid #a8a8a8;
}

.header-home__title-text + .header-home__title-text {
  margin-top: 5px;
}

.header-home__btn {
  padding: 8px 38px;
}

.header-home__btn-icon {
  display: none;
}

.logo-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-home__img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  margin-right: 6px;
}

.logo-home__text {
  font-size: 23px;
  color: #bfbfbf;
}

.main-home {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  position: relative;
}

.main-home__src {
  padding: 8px;
  position: absolute;
  bottom: 34px;
  right: 47px;
}

.about {
  background-color: rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  margin: auto;
  padding-top: 16px;
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom: 16px;
}

.about__title {
  text-align: center;
  font-size: 36px;
  color: #bfbfbf;
  margin-bottom: 64px;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.about__column {
  padding: 0 15px;
  margin-bottom: 40px;
}

.about__item {
  position: relative;
}

.about__item-title {
  background-color: #63b2fb;
  border-radius: 15px;
  color: #fff;
  width: 210px;
  font-size: 18px;
  position: absolute;
  top: -12px;
  left: -17px;
  text-align: center;
  padding: 4px 4px;
  word-wrap: break-word;
}

.about__item-body {
  background-color: rgba(255, 255, 255, 0.04);
  border: 1px solid #63b2fb;
  border-radius: 10px;
  padding: 37px 27px;
  min-height: 260px;
  max-width: 247px;
}

.about__item-text {
  font-size: 18px;
  color: #bfbfbf;
}

@media (max-width: 1280px) {
  .main-home__src {
    bottom: calc(23px + 11 * ((100vw - 320px) / 960));
  }

  .main-home__src {
    right: calc(28px + 19 * ((100vw - 320px) / 960));
  }

  .about {
    padding-left: calc(16px + 20 * ((100vw - 320px) / 960));
  }

  .about {
    padding-right: calc(16px + 20 * ((100vw - 320px) / 960));
  }

  .about__title {
    font-size: calc(20px + 16 * ((100vw - 320px) / 960));
  }

  .about__item-body {
    min-height: calc(150px + 110 * ((100vw - 320px) / 960));
  }
}

@media (max-width: 440px) {
  .header-home__btn {
    font-size: 0;
    padding: 0;
    border: none;
  }

  .header-home__btn-icon {
    display: block;
  }
}

.webp .main-home { background-image: url(../img/background.webp); }