.score-line p {
  display: inline;
}

.additional-info {
  font-size: 130%;
  font-weight: bold;
  margin-left: -10px;
}

.score-line {
  margin-top: 5px;
  margin-left: 25px;
  padding: 0;
}

.score-button {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 25px;
}